body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

.header-container {
    text-align: center;
    margin-bottom: 830px;
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif; 
}

h1 {
    margin: 0;
    font-size: 72px;
    color: #fff;
}

h3 {
 font-size: 35px;   
}

p {
    font-size: 32px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    max-width: 600px;
    height: 50vh;
    margin-bottom: 80px;
    position: absolute;
}

.grid-item {
    width: 68px;
    height: 68px; 
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif; 
    font-size: 50px;
}

.button-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 70px;
    width: 100%;
}

.button {
    padding: 10px 20px;
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif; 
    font-size: 50px;
    cursor: pointer;
    margin: 13px;
}

.restart-button {
    background-color: #3498db;
    color: #fff;
}

.definition-button {
    background-color: #27ae60;
    color: #fff;
}

.settings-button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 150px;
    font-size: 35px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #929292;
    color: #000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif; 
}

.stats-button {
    position: absolute;
    top: 10px;
    left: 200px;
    width: 150px;
    height: 150px;
    font-size: 35px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #929292;
    color: #000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif; 
}

.definition-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background: white;
    z-index: 3;
}

.definition-container h2 {
    color: #333;
    font-size: 60px;
}

.definition-container .popup-content {
    max-height: 313px;
    overflow-y: auto;
    border: 1px solid #ccc;
    word-wrap: break-word;
}

.settings-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 60vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.settings-popup {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.setting-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    transition: transform 0.3s ease;
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif; 
}

.setting-label {
    padding-left: 8px;
    font-size: 35px;
}

.setting-link {
    font-size: 35px;
    color: black;
    text-decoration: underline;
}

.setting-item:last-child {
    border-bottom: none;
}

.setting-item:hover {
    transform: scale(1.03);
}


.switch {
    position: relative;
    display: inline-block;
    width: 88px;
    height: 43px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 33px;
    width: 33px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(45px);
    -ms-transform: translateX(45px);
    transform: translateX(45px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media screen and (max-width: 1394px) {
    .button-container {
        margin-top: 0;
    }
}