body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

.header-container {
    text-align: center;
    margin-bottom: 320px;
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif; 
}

h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    max-width: 600px;
    height: 50vh;
    margin-bottom: 80px;
    position: absolute;
}

.grid-item {
    width: 27px;
    height: 27px; 
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif; 
    font-size: 20px;
}

.button-container {
    display: none;
    justify-content: space-around;
    margin-top: 290px;
    position: absolute;
}

.button {
    padding: 10px 20px;
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif; 
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.restart-button {
    background-color: #3498db;
    color: #fff;
}

.definition-button {
    background-color: #27ae60;
    color: #fff;
}

.settings-button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    font-size: 14px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #929292;
    color: #000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif; 
}

.stats-button {
    position: absolute;
    top: 10px;
    left: 80px;
    width: 60px;
    height: 60px;
    font-size: 14px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #929292;
    color: #000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif; 
}

.definition-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    z-index: 3;
}

.definition-container h2 {
    color: #333;
}

.definition-container .popup-content {
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid #ccc;
    word-wrap: break-word;
}

.settings-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.settings-popup {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.setting-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    transition: transform 0.3s ease;
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif; 
}

.setting-label {
    font-size: 14px;
}

.setting-link {
    font-size: 14px;
    color: black;
    text-decoration: underline;
}

.setting-item:last-child {
    border-bottom: none;
}

.setting-item:hover {
    transform: scale(1.1);
}


.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



@media screen and (min-height: 724px) {
    .button-container {
        margin-top: 400px;
    }

    .grid-container {
        margin-bottom: 160px;
    }
}

@media screen and (max-width: 666px) {
    .settings-button {
        width: 50px;
        height: 50px;
        font-size: 13px;
    }

    .stats-button {
        width: 50px;
        height: 50px;
        font-size: 13px;
    }
}